{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row" id ="userCategoriesTable">
        <div class="col">
            <h2>{{current_user.username}} Categories</h2>
            <table class="table table-dark table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Level</th>
                        <th scope="col">XP</th>
                        <th scope="col">XP to Next Level</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in cat_user_cat_result %}
                        <tr>
                            <th scope="row">{{result[1].title}}</th>
                            <td>{{result[1].description}}</td>
                            <td>{{result[0].level}}</td>
                            <td>{{result[0].xp}}</td>
                            <td>{{result[0].xp_to_next_level}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <h1>Add Category</h1>
            {{ wtf.quick_form(add_user_category_form) }}
        </div>
    </div>
{% endblock %}