{% extends "base.html" %}

{% block app_content %}
    <table>
        <tr valign="top">
            <td>
                <h1>{{ user.username }}</h1>
                <h2> Level: {{ user.level }}</h2>
                <h3> Total XP: {{ user.total_xp }}</h3>
                <h3> XP to Next Level: {{ user.xp_to_next_level }}</h3>
                {% set session_task_list = [] %}
                <h4><a href="{{ url_for('main.new_session', username=current_user.username, session_task_list=session_task_list) }}">New Session</a></h4>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>

    <div class="row" id ="userCategoriesTable">
        <div class="col-12">
            <h2>User Categories</h2>
            <p></p><a href="{{ url_for('main.add_user_category', username=current_user.username) }}">Add Category</a></p>
            <table class="table table-dark table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">title</th>
                        <th scope="col">description</th>
                        <th scope="col">timestamp</th>
                        <th scope="col">level</th>
                        <th scope="col">xp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in result_list %}
                        <tr>
                            <th scope="row">{{result[1].id}}</th>
                            <td>{{result[1].title}}</td>
                            <td>{{result[1].description}}</td>
                            <td>{{result[1].timestamp}}</td>
                            <td>{{result[0].level}}</td>
                            <td>{{result[0].xp}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" id ="tasksTable">
        <div class="col-12">
            <h2>User Tasks</h2>
            <p></p><a href="{{ url_for('main.add_user_task', username=current_user.username) }}">Add Task</a></p>
            <table class="table table-dark table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">category_id</th>
                        <th scope="col">timestamp</th>
                        <th scope="col">title</th>
                        <th scope="col">description</th>
                        <th scope="col">xp</th>                      
                    </tr>
                </thead>
                <tbody>
                    {% for task in user_task_list %}
                        <p>{{task}}</p>
                        <p>{{user_task_list}}</p>
                        <tr>
                            <th scope="row">{{task.id}}</th>
                            <td>{{task.category_id}}</td>
                            <td>{{task.timestamp}}</td>
                            <td>{{task.title}}</td>
                            <td>{{task.description}}</td>
                            <td>{{task.xp}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}